<div class="nav1">

 <div class="head1"><h1>Wreck that Body Burgers!</h1></div>


</div>



<div class="container1">


<div class="orders">
<h2>Orders</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgerspartialfolder/burger-block eaten=true}}
    {{/unless}}
  {{/each}}

</ul>
</div>


<div class="purchased">
<h2>Your Burgers</h2>
<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgerspartialfolder/burger-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>

</div>



</div>

<div class="add-burger">
<h3>Get a Burger Now!</h3>
</div>

<form class="create-form">

  <div class="form-group">
    <label for="bur"></label>
    <input type="text" id="bur" name="burgername" placeholder="type what burger your like">
  </div>

  <div class="form-group">
    {{!-- <label for="eaten">Eaten?</label><br> --}}
    {{!-- <input type="radio" name="eaten" value="1" checked> Sleepy!<br> --}}
    
    {{!-- <input type="text" name="eaten" value="0"> Awake --}}
  </div>
<div class="addburgerbtn">  
  <button class="submitbtn" type="submit">Add Burger</button>
  <div class="addburgerbtn">  
    
</form>
