
<div class="head1"><h1>Wreck that Body Burgers!</h1></div>

<h2>Burgers you created</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgerspartialfolder/burger-block eaten=true}}
    {{/unless}}
  {{/each}}

</ul>

<h2>Burgers Eaten</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgerspartialfolder/burger-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-form">

  <div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" id="bur" name="burgername">
  </div>

  <div class="form-group">
    {{!-- <label for="eaten">Eaten?</label><br> --}}
    {{!-- <input type="radio" name="eaten" value="1" checked> Sleepy!<br> --}}
    
    {{!-- <input type="text" name="eaten" value="0"> Awake --}}
  </div>

  <button type="submit">Add Burger</button>
</form>
