<h1>Fat Biggies Burger</h1>

<p>Add your Burger with this App</p>

<!-- Pass in data from server.js -->
<div class="colOne">
<ul>
  {{#each burgers}}
  	<li>
  		<p><span class="label"></span> {{this.id}}. <span class="label">Burger Name:</span> {{this.burger}}</p>
   
      <button data-id="{{this.id}}" class="delburger">I don't like this burger</button>

      <a href="/{{this.id}}">Update this Menu</a>
  	</li>
  {{/each}}
</ul>
</div>

<h2>Add a Burger</h2>


<form class="create-form">

<div class="form-group">
    <label for="bur">Burger:</label>
    <input type="text" id="bur" name="burger">
  </div>

  <button type="submit">Add Burger</button>
</form>
