<h1>Update the burger with an id of {{this.id}}</h1>

<form data-id="{{this.id}}" class="update-form">



  <div class="form-group">
    <label for="quo">Burger:</label>
    <textarea id="quo" name="quote" rows="8" cols="40">{{this.quote}}</textarea>
  </div>

  <button type="submit">Update Burger</button>
</form>
